@keyframes snowMove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(25vh);
  }
  50% {
    transform: translateY(50vh);
  }
  75% {
    transform: translateY(75vh);
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
