@keyframes snowMove {
  0% {
    transform: translateY(0vw);
  }
  25% {
    transform: translateY(25vw);
  }
  50% {
    transform: translateY(50vw);
  }
  75% {
    transform: translateY(75vw);
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
