* {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: #c9f9ff;
  cursor: url(../images/shapka3.svg), auto;
}
section {
  cursor: url(../images/shapka3.svg), auto;
}

.section-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

p {
  font-family: "Furnitur";
  font-size: 6.46875vw;
}

.firstText,
.secondText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* буквы */
.one {
  color: #d80000;
  position: absolute;
  left: 2.14vw;
  top: 8.49vw;
}
.two {
  color: #ffbb00;
  position: absolute;
  left: 2.14vw;
  top: 19.42vw;
}
.three {
  color: #0f13ff;
  position: absolute;
  left: 7.94vw;
  top: 19.42vw;
}
.four {
  color: #eca1ff;
  position: absolute;
  left: 13.74vw;
  top: 19.42vw;
}
.five {
  color: #40c000;
  position: absolute;
  left: 19.54vw;
  top: 19.42vw;
}
.six {
  color: #8b37ff;
  position: absolute;
  left: 25.34vw;
  top: 19.42vw;
}
.seven {
  color: #d80000;
  position: absolute;
  left: 68.8vw;
  top: 23.49vw;
}
.eight {
  color: #eca1ff;
  position: absolute;
  left: 74.6vw;
  top: 23.49vw;
}
.nine {
  color: #ffbb00;
  position: absolute;
  left: 80.4vw;
  top: 23.49vw;
}
.ten {
  color: #0f13ff;
  position: absolute;
  left: 86.2vw;
  top: 23.49vw;
}
.eleven {
  color: #40c000;
  position: absolute;
  top: 23.49vw;
  left: 92vw;
}

/* елка */

.elka1 {
  width: 36.1vw;
  height: 51.9vw;
  position: absolute;
  top: 20%;
  left: 30%;
  background-image: url(../images/elka22.png);
  background-size: cover;
}

.elka1:hover {
  background-image: url(../images/elka11.png);
}

.sign1 {
  width: 15vw;
  height: 9.4vw;
  position: absolute;
  right: 10.16vw;
  top: 31.6vw;
  background-image: url(../images/sign.png);
  background-size: cover;
  animation: blink 0.8s step-end infinite;
}

.sign2 {
  width: 15vw;
  height: 9.4vw;
  position: absolute;
  left: 10.16vw;
  top: 31.6vw;
  background-image: url(../images/sign.png);
  background-size: cover;
  animation: blink 0.8s step-end infinite;
}

#snow {
  background-size: contain;
  background-repeat: no-repeat;
}

.snow1 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -70px;
  left: 2vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snowMove linear infinite;
  animation: snowMove 10s linear infinite;
}
.snow2 {
  width: 3.3vw;
  height: 3.3vw;
  top: -70px;
  left: 6.94vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 12s linear infinite;
}
.snow3 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -70px;
  left: 20.83vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 10s linear infinite;
  animation-delay: 2s;
}
.snow4 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -100px;
  left: 26.39vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  animation: snowMove 14s linear infinite;
  animation-delay: 1s;
}
.snow5 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -70px;
  left: 34.72vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 12s linear infinite;
}
.snow6 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -100px;
  left: 43.75vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  animation: snowMove 15s linear infinite;
}
.snow7 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -70px;
  left: 67vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 10s linear infinite;
  animation-delay: 2s;
}
.snow8 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -70px;
  left: 56.94vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 13s linear infinite;
}
.snow9 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -70px;
  left: 76vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 15s linear infinite;
  animation-delay: 1s;
}
.snow10 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -100px;
  left: 90vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  animation: snowMove 10s linear infinite;
}
.snow11 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -150px;
  left: 93.8vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 13s linear infinite;
  animation-delay: 4s;
}
.snow12 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -230px;
  left: 26.39vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  animation: snowMove 14s linear infinite;
  animation-delay: 4s;
}

.snow13 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: -190px;
  left: 7.64vw;
  background-image: url(../images/snow.png);
  background-size: 3vw 3vw;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snowMove linear infinite;
  animation: snowMove 15s linear infinite;
  animation-delay: 4s;
}
.snow14 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -210px;
  left: 34.72vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 12s linear infinite;
  animation-delay: 4s;
}
.snow15 {
  width: 3.3vw;
  height: 3.3vw;
  position: absolute;
  top: -200px;
  left: 65.28vw;
  background-image: url(../images/snow.png);
  background-size: 3.3vw 3.3vw;
  animation: snowMove 15s linear infinite;
  animation-delay: 1s;
  animation-delay: 4s;
}
